@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Jaclyn is a junior developer.</p>
<p>
    She is comfortable working in both front-end and back-end development. 
    Jaclyn is fluent in C#, Python, CSS, HTML and working on SQL, JavaScript, and jQuery.
    After graduation from We Can Code IT in June 2016, Jaclyn plans on starting her career
    in Cleveland.
</p>
