@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Jaclyn Noga</h1>
    <p class="lead">Junior Developer</p>

</div>

<section id="about">
    <div class="panel panel-default">
        <div class="panel-heading">ABOUT</div>
        <div class="panel-body">
            <p>Jaclyn is a junior developer.</p>
            <p>
                She is comfortable working in both front-end and back-end development.
                Jaclyn is fluent in C#, Python, CSS, HTML and working on SQL, JavaScript, and jQuery.
                After graduation from We Can Code IT in June 2016, Jaclyn plans on starting her career
                in Cleveland.
            </p>
        </div>
    </div>
</section>


<section id="projects">
    <div class="panel panel-default">
        <div class="panel-heading">PROJECTS</div>
    </div>


</section>

<section id="contact">
    <div class="panel panel-default">
        <div class="panel-heading">CONTACT</div>
        <div class="panel-body">
            <p>Jaclyn.Noga@gmail.com</p>

            <a href="https://github.com/JaclynNoga" target="_blank">
                <img src="~/images/GitHub-Mark-120px-plus.png" />
            </a>
            <a href="https://www.linkedin.com/in/jaclynnoga" target="_blank">
                <img src="~/images/linkedin.png" />
            </a>
        </div>
    </div>
</section>








@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@